.earthquakeLocationsContainer {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 100rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.tableContainer {
    width: 22rem;
    padding-left: 2rem;
    font-size: 1rem;
    text-align: left;
    margin: auto;
    padding-top: 1.5rem;
}

.tableContainer, table, tr, td {
    padding-bottom: 0.5rem;
    font-weight: lighter;
}

.linkToDetailsPage {
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
}

.tableContainer, table, tr, th {
    text-align: center;
    padding-bottom: 0.5rem;
}

.placeHeader {
    min-width: 16rem;
}

.magHeader {
    padding: 0 0.5rem 0 0.5rem;
}

.timeHeader {
    min-width: 20rem;
}
