.earthquakeDetailsContainer {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 100rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.tableContainer {
    width: 22rem;
    font-size: 1rem;
    margin: 1rem auto auto auto;
}

.tableContainer, table, tr, td {
    padding-bottom: 0.5rem;
}

.eqHeader {
    font-weight: bold;
    text-align: left;
    padding-right: 1rem;
}

.eqDetail {
    font-weight: lighter;
    max-width: 7rem;
    text-align: left;
}

.eqDetailPlace {
    font-weight: lighter;
    min-width: 16rem;
    text-align: left;
}