.headerElements {
    display: flex;
    background: #d3d3d3;
    width: 100rem;
    height: 6rem;
    margin: auto;
}

.logo {
    max-width: 5rem;
    padding-top: 0.5rem;
}

.logoContainer {
    width: 33%;
    text-align: left;
    padding-left: 1rem;
    cursor: pointer;
}

.title {
    font-size: 2rem;
    color: #808080;
    font-weight: 700;
    width: 34%;
    line-height: 6rem;
    text-align: center;
}

.userName {
    color: #0000ff;
    text-decoration: underline;
    width: 33%;
    font-size: 1rem;
    line-height: 6rem;
    text-align: right;
    padding-right: 1rem;
    cursor: pointer;
}