.profileContainer {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 100rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.profileDetails {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2rem;
}

.avatar {
    width: 10rem;
    margin: 0 auto auto auto;
}

.tableContainer {
    width: 22rem;
    padding-left: 2rem;
    font-size: 1rem;
    text-align: left;
}

.tableContainer, table, tr, td {
    padding-bottom: 0.5rem;
}

.profileHeader{
    font-weight: bold;
}

.profileDetail {
    font-weight: lighter;
    max-width: 7rem;
}